<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zp.integration.mapper.UserMapper">

    <resultMap id="userResultMap" type="com.zp.integration.pojo.dataobject.UserDO">
        <!-- 自增ID -->
        <id column="id" property="id" jdbcType="BIGINT"/>
        <!-- 姓名  -->
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <!-- 密码 -->
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <!-- 生日 -->
        <result column="birthday" property="birthday" jdbcType="DATE"/>
        <!-- 年龄 -->
        <result column="age" property="age" jdbcType="INTEGER"/>
        <!-- 性别 -->
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <!-- 电话 -->
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <!-- 地址 -->
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <!-- 角色 -->
        <result column="role" property="role" jdbcType="VARCHAR"/>
        <!-- 创建时间 -->
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <!-- 修改时间 -->
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 通用查询结果列名 -->
    <sql id="Base_Column_Name">
        id, username, password, birthday, age, sex, phone, address, create_time, update_time
    </sql>

    <!-- 动态条件 -->
    <sql id="BaseCondition">
        <where>
            <if test="id != null">
                AND id = #{id,jdbcType=BIGINT}
            </if>
            <if test="username != null">
                AND username = #{username,jdbc=VACHAR}
            </if>
            <if test="birthday != null">
                AND birthday = #{birthday,jdbcType=DATE}
            </if>
            <if test="age != null">
                AND age = #{age,jdbc=INTEGER}
            </if>
            <if test="sex != null">
                AND sex = #{sex,jdbc=VACHAR}
            </if>
            <if test="phone != null">
                AND phone = #{phone,jdbc=VACHAR}
            </if>
            <if test="address != null">
                AND address = #{address,jdbc=VACHAR}
            </if>
            <if test="role != null">
                AND role = #{role,jdbc=VACHAR}
            </if>
        </where>
    </sql>

    <!-- 根据动态条件查询语句(根据 BaseCondition 查询语句) -->
    <sql id="selectByBaseCondition">
        SELECT
        <include refid="Base_Column_Name" />
        FROM user
        <include refid="BaseCondition" />
    </sql>

    <!-- 根据动态条件查询总数目（根据BaseCondition查询总数目） -->
    <select id="countByBaseCondition" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(*)
        FROM user
        <include refid="BaseCondition"/>
    </select>

    <!-- 根据动态条件查询（根据 BaseCondition 查询） -->
    <select id="selectByBaseConditionPageable" resultMap="userResultMap" parameterType="java.util.Map">
        <include refid="selectByBaseCondition" />
        <if test="orderStr != null">
            order by #{orderStr}
            <if test="orderStyle!=null">
                #{orderStyle}
            </if>
        </if>
        <if test="itemlimit != null">
            limit #{itemlimit}
        </if>
        <if test="start != null and limit != null">
            limit #{start},#{limit}
        </if>
    </select>

    <select id="findAll" resultType="com.zp.integration.pojo.dataobject.UserDO">
        SELECT * FROM user
    </select>
</mapper>